.together{
    display: flex;
    flex-wrap: wrap;
}
.dropdown{
    width: 250px;
    user-select: none;
    padding-right: 0px;
    padding-top: 30px;
    position: relative;
}

.dropdown .dropdown-btn{
    cursor: pointer;
    height: 60px;
    margin-bottom: 10px;
    padding: 20px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0.0.0.0.06);
    font-weight: bold;
    color:#333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown .dropdown-content{
    position: absolute;
    width: 250px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0.0.0.0.06);
    font-weight: bold;
    font-weight: 500;
    color: #333;
}

.dropdown .dropdown-content .dropdown-item{
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}
.dropdown .dropdown-content .dropdown-item:hover{
    background: #f4f4f4f4;
}