<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width", initial-scale=1.0>
    <title> where's the TR laaaaa</title>
    <link rel="stylesheet" href="sb2style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="search-bar">
            <div id="'select">
                <p>TR<i class="fa fa-caret-down"></i></p>
                <ul>
                    <li class="'options">All categories</li>
                    <li class="'options">All categories</li>
                    <li class="'options">All categories</li>
                    <li class="'options">All categories</li>
                    <li class="'options">All categories</li>
                </ul>
            </div>
            <input type="text" placeholder="Search in All Cat">
        </div>
    </div>
</body>
</html>